
body {
    font-family: 'Red Hat Mono', monospace;
    background-color: aliceblue;

  }

footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color:blue;
        text-align: center;
}

  .tempnow{
    font-size: 42px;
  }
  .currentConditions {
    font-size: 28px;

  }

  .humidity {
    font-size: 21px;
    text-align: left;
  }
  .windspeed {
    font-size: 21px;
text-align: left;
  }
  .currentDate {
    word-wrap: none;

  }
  .weather-forecast {
    font-size: 21 px;
    display: -ms-flexbox;
    outline-style: auto;
    text-align: center;
    padding: 2%;
  }
  .now-emoji {
    text-align: left;
  }
  
